@font-face {
    font-family: 'PT Serif';
    src: url('./fonts/PT_Serif/PTSerif-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Serif';
    src: url('./fonts/PT_Serif/PTSerif-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Volkhov';
    src: url('./fonts/Volkhov/Volkhov-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Volkhov';
    src: url('./fonts/Volkhov/Volkhov-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --bg-color: #191820;
    --text-color: #e0e0e0;
    --accent-color: #b176f5;
    --link-hover: #cd9eff;
    --gap: 20px;
    --border-radius: 10px;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    --transition-speed: 0.3s;
}

body {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    font-style: normal;
    background-color: var(--bg-color);
    color: var(--text-color);
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: var(--accent-color);
    text-decoration: none;
    transition: color var(--transition-speed);
}

a:hover {
    color: var(--link-hover);
}

img {
    display: block;
}

.container {
    width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

.button {
    background-color: var(--accent-color);
    color: var(--text-color);
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color var(--transition-speed);
}

.button:hover {
    background-color: var(--link-hover);
}

.grid {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
    background-color: #222;
    padding: var(--padding);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: transform var(--transition-speed);
}

.card:hover {
    transform: translateY(-5px);
}

@media (max-width: 768px) {
    .container {
        padding: 0 10px;
    }

    .grid {
        grid-template-columns: 1fr;
    }
}

.hidden {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease-out;

}

.show {
    opacity: 1;
    transform: translateY(0);

}

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--bg-color);
    transform: translateY(-100%);
    animation: slide-down-name 2s ease-in-out forwards;
    animation-delay: 1s;
    transition: box-shadow 0.3s ease-in-out;
}

.nav {
    margin: auto;
    display: flex;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    max-width: 1000px;
}

.nav-list {
    display: flex;
    margin-left: auto;
    gap: 20px;
}

.nav-item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 6px 12px;
    background-color: var(--bg-color);
    box-shadow: 3px 3px 5px #0b0b0e,
        -2px -2px 4px #3b394b;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    /* background: rgb(32, 33, 37);
    background: linear-gradient(0deg, rgba(32, 33, 37, 1) 0%, rgba(25, 24, 32, 1) 100%); */
}

.nav-item:hover,
.nav-item:focus {
    background:
        #201e2b;
}

.nav-item:hover .item-link,
.nav-item:focus .item-link {
    color: #b176f5;
}

.nav-item:active {
    box-shadow: inset 3px 3px 5px #0b0b0e,
        inset -2px -2px 3px #444255;
    transform: translateY(0.5px);
}

/* Псевдоэлемент для отблеска */
.nav-item::after {
    content: "";
    position: absolute;
    top: -150%;
    left: -150%;
    width: 150%;
    height: 40%;
    background: linear-gradient(45deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.5) 48%,
            rgba(255, 255, 255, 0.932) 50%,
            rgba(255, 255, 255, 0.5) 52%,
            rgba(255, 255, 255, 0) 100%);
    transform: rotate(-45deg);
    opacity: 0;
    filter: blur(8px);
    pointer-events: none;
}

.nav-item:hover::after,
.nav-item:focus::after {
    opacity: 1;
    animation: light-sweep 1.5s linear;
}

@keyframes light-sweep {
    0% {
        top: -150%;
        left: -150%;
    }

    100% {
        top: 150%;
        left: 150%;
    }
}

.nav-link,
.item-link {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 1.2;
    font-style: normal;
    text-transform: uppercase;
    color: var(--text-color);
    letter-spacing: 3px;
}

.hero {
    padding-top: 65px;
    overflow: hidden;
}

.hero-fon {
    position: relative;
    display: flex;
    height: 500px;
}

.hero-box {
    margin: auto 0;
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

.hero-title {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 10px;
    transform: translateY(-100%);
    opacity: 0;
    animation: slide-down-name 1s ease-in-out forwards;
    animation-delay: 2s;

}

.hero-name {
    font-family: "Volkhov", sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    transform: translateY(100%);
    opacity: 0;
    animation: slide-up-title 1s ease-in-out forwards;
    animation-delay: 2s;
    letter-spacing: 2px;
    /* color: #5e32b3; */
    /* color: #483273; */
    -webkit-text-fill-color: transparent;
    background: linear-gradient(0deg, rgb(228 121 255 / 70%) 0%, rgb(162 12 245 / 73%) 100%);
    -webkit-background-clip: text;
    background-clip: text;
}

.hero-resume {
    display: inline-flex;
    padding: 10px 20px;
    font-size: 18px;
    color: var(--text-color);
    background: transparent;
    box-shadow: 3px 3px 5px #0b0b0e,
        -2px -2px 4px #3b394b;
    border-radius: 20px;
    align-items: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-top: 40px;
    transform: translateY(100%);
    opacity: 0;
    animation: slide-up-title 1s ease-in-out forwards;
    animation-delay: 2s;
}

.hero-resume:hover,
.hero-resume:focus {
    background:
        #201e2b;
    color: #b176f5;
}

.hero-resume-svg {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.hero-resume:active {
    box-shadow: inset 3px 3px 5px #0b0b0e,
        inset -2px -2px 3px #444255;
    transform: translateY(0.5px);
}

@keyframes slide-up-title {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-down-name {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-down-text {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.hero-img {
    position: absolute;
    overflow: auto;
    height: 500px;
    top: 0;
    left: 45%;
    transform: translateX(100%);
    opacity: 0;
    animation: slide-left 1.2s ease-in-out forwards;
    animation-delay: 2s;
    border-radius: 250px 0 0 250px;

}

@keyframes slide-left {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

section {
    padding-top: 100px
}

h2 {
    font-family: "Volkhov", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 50px;
}

.about-box {
    max-width: 1100px;
    display: flex;
    gap: 100px;
    align-items: center;
    margin: 0 auto;
}

.about-title {
    margin-bottom: 100px;
}

.about-text {

    text-align: center;
    transform: translateY(50px);
    opacity: 0;
    animation: slide-down-text 1s ease-in-out forwards;
    animation-delay: 2.5s;
}

.fon-skill {
    background-image: url(./images/fon_4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 95px 100px;
}

.skill-svg {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.skill-svg svg {
    height: 60px;
}

footer {
    padding-bottom: 30px;
}

.footer {
    background-image: url(./images/fon_6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 1250px;
    height: 550px;
    padding: 100px 120px 0 120px;
}

.footer-tittle {
    font-family: " PT Serif", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    line-height: 1.2;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.footer-text {
    margin-bottom: 10px;
}

.footer_button-box {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footer-resume {
    display: inline-flex;
    padding: 10px 20px;
    font-size: 20px;
    color: var(--text-color);
    height: 50px;
    /* background: #8330b569; */
    /* background: linear-gradient(180deg, rgb(129 63 155 / 40%) 0%, rgb(67 41 86 / 16%) 100%); */
    background: linear-gradient(0deg, rgb(155 92 179 / 60%) 0%, rgb(14 10 16 / 33%) 100%);
    border-radius: 20px;
    align-items: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.footer-resume:hover,
.footer-resume:focus {
    box-shadow: 3px 3px 5px #0b0b0e,
        -2px -2px 4px #a68ad8;
}

.footer-resume:active {
    box-shadow: inset 3px 3px 5px #0b0b0e,
        inset -2px -2px 3px #a68ad8;
    transform: translateY(0.5px);
}


.footer_box-svg {
    display: flex;
    width: 300px;
    height: 50px;
    background: transparent;
    justify-content: space-evenly;
}

.footer svg {
    width: 40px;
    height: 100%;
    fill: var(--text-color);

}

.footer svg:hover {
    fill: #3b124a9c;
}

.footer-link {
    background: transparent;
    border: none;
    cursor: pointer;
}

.footer_after-text {
    text-align: center;
}






/* ------ slider------ */

.blog-slider {
    width: 95%;
    position: relative;
    max-width: 1000px;
    margin: 50px auto 0 auto;
    /* box-shadow: 0 24px 36px 0 rgba(0, 0, 0, 0.6), 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 3px 4px 0 rgba(0, 0, 0, 0.04); */
    box-shadow: 5px 5px 7px #0b0b0e,
        -5px -5px 7px #2f2d3f;
    padding: 25px;
    border-radius: 25px;
    height: 400px;
    transition: all 0.3s;
}

@media screen and (max-width: 992px) {
    .blog-slider {
        max-width: 680px;
        height: 400px;
    }
}

@media screen and (max-width: 768px) {
    .blog-slider {
        min-height: 500px;
        height: auto;
        margin: 180px auto;
    }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider {
        height: 350px;
    }
}

.blog-slider__item {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .blog-slider__item {
        flex-direction: column;
    }
}

.swiper-slide-active .blog-slider__img img {
    opacity: 1;
    transition-delay: 0.3s;
}

.swiper-slide-active .blog-slider__content>* {
    opacity: 1;
    transform: none;
}

.swiper-slide-active .blog-slider__content>*:nth-child(1) {
    transition-delay: 0.4s;
}

.swiper-slide-active .blog-slider__content>*:nth-child(2) {
    transition-delay: 0.5s;
}

.swiper-slide-active .blog-slider__content>*:nth-child(3) {
    transition-delay: 0.6s;
}

.blog-slider__img {
    width: 500px;
    flex-shrink: 0;
    height: 300px;
    background-image: #37353d;
    box-shadow: 0px 0px 20px rgba(95, 87, 87, 0.3);
    border-radius: 20px;
    transform: translateX(-80px);
    overflow: hidden;
    position: relative;

}

.blog-slider__img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: #37353d;
    border-radius: 20px;
    opacity: 0.8;
}

.blog-slider__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0;
    border-radius: 20px;
    transition: all 0.3s;
}

@media screen and (max-width: 768px) {
    .blog-slider__img {
        transform: translateY(-50%);
        width: 90%;
    }
}

@media screen and (max-width: 576px) {
    .blog-slider__img {
        width: 95%;
    }
}

.blog-slider__content {
    padding-right: 25px;
}

@media screen and (max-width: 768px) {
    .blog-slider__content {
        margin-top: -80px;
        text-align: center;
        padding: 0 30px;
    }
}

@media screen and (max-width: 576px) {
    .blog-slider__content {
        padding: 0;
    }
}

.blog-slider__content>* {
    opacity: 0;
    transform: translateY(25px);
    transition: all 0.4s;
}

.blog-slider__title {
    font-size: 24px;
    font-weight: 700;
    color: rgb(177, 118, 245);
    margin-bottom: 20px;
    /* -webkit-text-fill-color: transparent;
    background: linear-gradient(0deg, rgb(228 121 255 / 70%) 0%, rgb(162 12 245 / 73%) 100%);
    -webkit-background-clip: text;
    background-clip: text; */
}

.blog-slider__text {
    margin-bottom: 30px;
    line-height: 1.5em;
}

.blog-slider__button-box {
    display: flex;
    align-items: center;
    gap: 20px;
}

.blog-slider__button {
    display: inline-flex;
    box-shadow: 5px 5px 7px #0b0b0e, -3px -3px 5px #4c4960;
    width: 128px;
    height: 42px;
    border-radius: 50px;
    color: var(--text-color);
    text-decoration: none;
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    letter-spacing: 3px;
}



@media screen and (max-width: 576px) {
    .blog-slider__button {
        width: 100%;
    }
}

.blog-slider__button-box :hover,
.blog-slider__button-box :focus {
    background: #201e2b;
    color: #944ae9;

}

.blog-slider__button-2:hover svg,
.blog-slider__button-2:focus svg {
    fill: #944ae9;
}

.blog-slider__button-box :active {
    color: #944ae9;
    box-shadow: inset 3px 3px 5px #0b0b0e,
        inset -2px -2px 3px #444255;
    transform: translateY(0.5px);
}

.blog-slider__button-2 svg {
    width: 32px;
    height: 32px;
    fill: var(--text-color);
}

/* .blog-slider__pagination {
    position: absolute;
    z-index: 21;
    right: 20px;
    width: 11px !important;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
} */

.blog-slider__pagination {
    position: absolute;
    z-index: 21;
    right: 20px;
    width: 11px !important;
    text-align: center;
    left: auto !important;
    top: 50% !important;
    bottom: auto !important;
    transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
    .blog-slider__pagination {
        transform: translateX(-50%);
        left: 50% !important;
        top: 205px;
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    display: block;
    border-radius: 10px;
    background: #b176f5;
    opacity: 0.2;
    transition: all 0.3s;
    margin: 4px !important;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #7b59a3;
    height: 30px;
    box-shadow: 0px 0px 20px rgba(154, 113, 182, 0.747);
}

@media screen and (max-width: 768px) {
    .swiper-pagination-bullet-active {
        height: 11px;
        width: 30px;
    }
}

/* Modal Email Window */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

/* .modal.active {
    display: flex;
} */

.modal-content {
    background-color: #30253c6e;
    backdrop-filter: blur(10px);
    padding: 30px 70px;
    border-radius: 10px;
    width: 500px;
}

.modal-content h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.btn-modal {
    position: absolute;
    display: flex;
    top: 24px;
    right: 24px;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

.modal-svg {
    fill: var(--text-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal:hover .modal-svg,
.btn-modal:focus .modal-svg {
    transform: scale(1.5);
}


.form-label {
    display: block;
    margin-bottom: 8px;
}

.modal-label-text {
    display: block;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--text-color);
    margin-bottom: 4px;
}

.modal-form-svg {
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;
    color: var(--text-color);
    background-color: transparent !important;
    border: none;
    border-radius: 4px;
    box-shadow: inset 5px 5px 7px #0b0b0e94, inset -3px -3px 5px #594d676e;
    padding: 8px 16px 8px 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-svg {
    display: block;
    position: absolute;
    fill: var(--text-color);
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    outline: none;
    border-color: var(--text-color);
}

.form-input:focus+.input-svg {
    fill: var(--accent-color);
}

.form-textarea {
    display: block;
    margin-bottom: 16px;
}

.form-textarea .form-input {
    display: block;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    padding: 8px 16px;
    color: var(--text-color);
    height: 120px;
    resize: none;

}

.form-textarea::placeholder {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-button {
    display: inline-flex;
    background-color: transparent;
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 40px;
    color: var(--text-color);
    box-shadow: 5px 5px 7px #17171ef0, -3px -3px 5px #62576f;
    text-decoration: none;
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-size: 18px;
    justify-content: center;
    text-align: center;
    align-items: center;
    letter-spacing: 3px;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.modal-button:hover,
.modal-button:focus {
    background-color: #53385ca3;
}

.modal-button:active {
    box-shadow: inset 3px 3px 5px #0b0b0e, inset -2px -2px 3px #444255;
    transform: translateY(0.5px);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: inset 5px 5px 7px #0b0b0e94, inset -3px -3px 5px #594d676e;
    -webkit-text-fill-color: var(--text-color) !important;
    transition: background-color 5000s ease-in-out 0s !important;
    background-color: transparent !important;
    color: var(--text-color) !important;
}