body {
    background-color: #191820;
    /* background: #e0e0e0; */
    color: rgba(255, 255, 255, 0.8);
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.2;
    font-style: normal;
    color: rgb(191, 194, 203);
}

/* .pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.pt-serif-bold {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
} */
/* .volkhov-regular {
    font-family: "Volkhov", serif;
    font-weight: 400;
    font-style: normal;
}

.volkhov-bold {
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-style: normal;
} */

/* .open-sans-<uniquifier> {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300-800;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
} */
/* .comfortaa-<uniquifier> {
     font-family: "Comfortaa", serif;
     font-optical-sizing: auto;
     font-weight: 300-700;
     font-style: normal;
 } */
* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

img {
    display: block;
}

li {
    list-style: none;
}

a {
    text-decoration: none;

}

.container {
    width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* .hidden {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease-out;

}
.show {
    opacity: 1;
    transform: translateY(0);

} */

/* .hidden:nth-child(1) {
    transition-delay: 0.2s;
}

.hidden:nth-child(2) {
    transition-delay: 0.3s;
}

.hidden:nth-child(3) {
    transition-delay: 0.4s;
} */

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    background-color: #191820;
    transform: translateY(-100%);
    animation: slide-down-name 2s ease-in-out forwards;
    animation-delay: 1s;
    transition: box-shadow 0.3s ease-in-out;
}

.nav {
    margin: auto;
    display: flex;
    padding: 20px 0;
    width: 100%;
    max-width: 1000px;
}

.nav-list {
    display: flex;
    margin-left: auto;
    gap: 20px;
}

.nav-item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 6px 12px;
    background: #191820;
    box-shadow: 3px 3px 5px #0b0b0e,
        -2px -2px 4px #3b394b;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    /* background: rgb(32, 33, 37);
    background: linear-gradient(0deg, rgba(32, 33, 37, 1) 0%, rgba(25, 24, 32, 1) 100%); */
    /* border: 2px solid #1f1e25; */
}

.nav-item:hover,
.nav-item:focus {
    background:
        #282930;
}

.nav-item:hover .item-link,
.nav-item:focus .item-link {
    color: #b176f5;
}

.nav-item:active {
    box-shadow: inset 3px 3px 5px #0b0b0e,
        inset -2px -2px 3px #444255;
    transform: translateY(0.5px);
}

/* .nav-item:active {
    transform: translateY(2px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6),
        0 2px 4px 0 rgba(0, 0, 0, 0.12),
        0 1px 1px 0 rgba(0, 0, 0, 0.04);
    background-color: #121317;
} */

/* Псевдоэлемент для отблеска */
.nav-item::after {
    content: "";
    position: absolute;
    top: -150%;
    left: -150%;
    width: 150%;
    height: 40%;
    background: linear-gradient(45deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.5) 48%,
            rgba(255, 255, 255, 0.932) 50%,
            rgba(255, 255, 255, 0.5) 52%,
            rgba(255, 255, 255, 0) 100%);
    transform: rotate(-45deg);
    opacity: 0;
    filter: blur(8px);
    pointer-events: none;
}

.nav-item:hover::after,
.nav-item:focus::after {
    opacity: 1;
    animation: light-sweep 1.5s linear;
}

@keyframes light-sweep {
    0% {
        top: -150%;
        left: -150%;
    }

    100% {
        top: 150%;
        left: 150%;
    }
}

.nav-link,
.item-link {
    font-family: "Comfortaa", sans-serif;
    font-weight: 600;
    font-size: 10px;
    line-height: 1.2;
    font-style: normal;
    text-transform: uppercase;
    color: #bfc2cb;
    letter-spacing: 3px;
}

.hero {
    /* position: relative; */
    padding-top: 65px;
    padding-bottom: 50px;
    overflow: hidden;
}

.hero-fon {
    position: relative;
    display: flex;
    height: 500px;
}

.hero-box {
    margin: auto 0;
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

.hero-title {
    font-weight: 500;
    font-size: 34px;
    text-align: left;
    margin-bottom: 10px;
    transform: translateY(-100%);
    opacity: 0;
    animation: slide-down-name 1s ease-in-out forwards;
    animation-delay: 2s;

}

.hero-name {
    font-size: 46px;
    font-weight: 900;
    transform: translateY(100%);
    opacity: 0;
    animation: slide-up-title 1s ease-in-out forwards;
    animation-delay: 2s;
    letter-spacing: 2px;
    color: #b176f5;
}



/* @keyframes line-expand {
    to {
        transform: scaleX(1);
    }
} */

/* @keyframes fade-in {
    to {
        opacity: 1;
        transform: translateY(0);
    }
} */

@keyframes slide-up-title {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-down-name {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-down-text {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.hero-img {
    position: absolute;
    overflow: auto;
    height: 500px;
    top: 0;
    left: 45%;
    transform: translateX(100%);
    opacity: 0;
    animation: slide-left 1.2s ease-in-out forwards;
    animation-delay: 2s;
    border-radius: 250px 0 0 250px;

}

@keyframes slide-left {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

section {
    padding-top: 100px
}

h2 {
    font-family: "Open Sans", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.about-box {
    max-width: 1100px;
    display: flex;
    gap: 50px;
    align-items: center;
    margin: 0 auto;
}

.about-title {
    margin-bottom: 20px;
}

.about-text {
    /* margin-top: 30px; */
    text-align: center;
    transform: translateY(50px);
    opacity: 0;
    animation: slide-down-text 1s ease-in-out forwards;
    animation-delay: 2.5s;
}

.fon-skill {
    background-image: url(/images/fon_4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* height: 400px;
    max-width: 1250px;
    width: 100%; */
    padding: 105px 100px;
}

.skill-svg {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.skill-svg svg {
    height: 60px;
}

.footer {
    background-image: url(./images/fon_6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 1250px;
    height: 600px;
}

.footer svg {
    height: 100%;
    fill: #42446e;
}

/* .footer-text {
    padding-top: 100px;
} */













.blog-slider {
    width: 95%;
    position: relative;
    max-width: 1000px;
    margin: 50px auto 0 auto;
    /* box-shadow: 0 24px 36px 0 rgba(0, 0, 0, 0.6), 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 3px 4px 0 rgba(0, 0, 0, 0.04); */
    box-shadow: 5px 5px 7px #0b0b0e,
        -5px -5px 7px #2f2d3f;
    padding: 25px;
    border-radius: 25px;
    height: 400px;
    transition: all 0.3s;
}

@media screen and (max-width: 992px) {
    .blog-slider {
        max-width: 680px;
        height: 400px;
    }
}

@media screen and (max-width: 768px) {
    .blog-slider {
        min-height: 500px;
        height: auto;
        margin: 180px auto;
    }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider {
        height: 350px;
    }
}

.blog-slider__item {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .blog-slider__item {
        flex-direction: column;
    }
}

.swiper-slide-active .blog-slider__img img {
    opacity: 1;
    transition-delay: 0.3s;
}

.swiper-slide-active .blog-slider__content>* {
    opacity: 1;
    transform: none;
}

.swiper-slide-active .blog-slider__content>*:nth-child(1) {
    transition-delay: 0.4s;
}

.swiper-slide-active .blog-slider__content>*:nth-child(2) {
    transition-delay: 0.5s;
}

.swiper-slide-active .blog-slider__content>*:nth-child(3) {
    transition-delay: 0.6s;
}

.blog-slider__img {
    width: 500px;
    flex-shrink: 0;
    height: 300px;
    background-image: #37353d;
    box-shadow: 0px 0px 20px rgba(95, 87, 87, 0.3);
    border-radius: 20px;
    transform: translateX(-80px);
    overflow: hidden;
    position: relative;

}

.blog-slider__img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: #37353d;
    border-radius: 20px;
    opacity: 0.8;
}

.blog-slider__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0;
    border-radius: 20px;
    transition: all 0.3s;
}

@media screen and (max-width: 768px) {
    .blog-slider__img {
        transform: translateY(-50%);
        width: 90%;
    }
}

@media screen and (max-width: 576px) {
    .blog-slider__img {
        width: 95%;
    }
}

.blog-slider__content {
    padding-right: 25px;
}

@media screen and (max-width: 768px) {
    .blog-slider__content {
        margin-top: -80px;
        text-align: center;
        padding: 0 30px;
    }
}

@media screen and (max-width: 576px) {
    .blog-slider__content {
        padding: 0;
    }
}

.blog-slider__content>* {
    opacity: 0;
    transform: translateY(25px);
    transition: all 0.4s;
}

.blog-slider__code {
    color: #7b7992;
    margin-bottom: 15px;
    display: block;
    font-weight: 500;
}

.blog-slider__title {
    font-size: 24px;
    font-weight: 700;
    color: #b176f5;
    margin-bottom: 20px;
}

.blog-slider__text {
    /* color: #4e4a67; */
    margin-bottom: 30px;
    line-height: 1.5em;
}

.blog-slider__button-box {
    display: flex;
    align-items: center;
    gap: 20px;
}

.blog-slider__button {
    display: inline-flex;
    box-shadow: 5px 5px 7px #0b0b0e, -3px -3px 5px #4c4960;
    padding: 10px 35px;
    border-radius: 50px;
    color: rgb(191, 194, 203);
    text-decoration: none;
    font-weight: 700;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
}

.blog-slider__button-2 {
    display: inline-flex;
    box-shadow: 5px 5px 7px #0b0b0e, -3px -3px 5px #4c4960;
    width: 124px;
    height: 41px;
    border-radius: 50px;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    align-items: center;
}

@media screen and (max-width: 576px) {
    .blog-slider__button {
        width: 100%;
    }
}

.blog-slider__button-box a:hover,
.blog-slider__button-box a:focus {
    color: #b176f5;
}

.blog-slider__button-box a:active {
    color: #b176f5;
    box-shadow: inset 3px 3px 5px #0b0b0e,
        inset -2px -2px 3px #444255;
    transform: translateY(0.5px);
}

/* .blog-slider__pagination {
    position: absolute;
    z-index: 21;
    right: 20px;
    width: 11px !important;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
} */

.blog-slider__pagination {
    position: absolute;
    z-index: 21;
    right: 20px;
    width: 11px !important;
    text-align: center;
    left: auto !important;
    top: 50% !important;
    bottom: auto !important;
    transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
    .blog-slider__pagination {
        transform: translateX(-50%);
        left: 50% !important;
        top: 205px;
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    display: block;
    border-radius: 10px;
    background: #b176f5;
    opacity: 0.2;
    transition: all 0.3s;
    margin: 4px !important;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #8842c2e7;
    height: 30px;
    box-shadow: 0px 0px 20px rgba(203, 148, 240, 0.747);
}

@media screen and (max-width: 768px) {
    .swiper-pagination-bullet-active {
        height: 11px;
        width: 30px;
    }
}